 /* *{ 
     box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}  */


h1 {
    text-align: center;
    font-weight: lighter;
    color:rgb(0, 204, 177) ;
}

h2, h4 {
    color:rgb(0, 204, 177) ;
    font-weight: lighter;
}


#center {
    text-align: center;
    font-size: x-large;
    color: rgb(51, 51, 51);
    padding-top: 130px;
}

#testcenter {
    text-align: center;
    font-size: small;
}
#testcentertitle {
    text-align: center;
    font-size: xx-large;
}


.client{
    display: flex;
    justify-content: space-around;

}

svg {
    fill: gray;
    width: 85px;
}

svg:hover {
    fill: rgb(0, 204, 177); 
}


#whitebackground {
background-color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 50px;
    grid-row-gap:50px;
   
}


.item3 { 
    grid-column: 1/3;
}



body{
    color:rgb(116, 116, 116) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}

#patient{
    background-color: rgb(0, 204, 177);
    color: white;
    border-radius:  20px;
}

#doctor{
    background-color: rgb(61, 131, 223);
    color: white;
    border-radius:  20px;
}

#clinic{
    background-color: rgb(27, 39, 52);
    color: white;
    border-radius:  20px;
}

#patient, #doctor, #clinic{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.section1:hover {
    opacity: 0.8;
}

div{
    padding-left: 10px;
    /* padding-right: 50px; */
    padding-bottom: 20px;
    padding-top: 10px;
}

#choose, #less, #more{
    text-decoration: underline;
    
}

.form-select{
    background-color: transparent;
    color: white;
    text-decoration: underline;
    border:none;
}

option{
    color:black;
}

.filter{
    filter:grayscale(1);
}
.filter:hover {
   color: filter; 
}

#background {
    background-color: rgb(205, 222, 236);
}

.section2 {
    position: relative;
    overflow: hidden;
    display:flex;
background-color:rgb(214, 246, 247);
}

.hidden {
    position: absolute;
    margin-top: 70px;
}


footer{
    color: rgb(116, 116, 116);
    font-size: xx-small;
    text-align: center;
    padding-top: 80px;
}

.blue{
 color: rgb(4, 49, 199);
 text-decoration: underline;
}



.grid-container button{
    width:120px;
    height: 40px;
    padding:20px;
    border-radius:10px;
    background-color: #3d83df;
    color: white;
    font-size: xx-small;
    font-weight: bolder;
    border: none;
    
}

.buttoncenter {
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    color: #fff;
    text-align: center;
    margin-right: 200px;
    margin-left: 550px;
    width: 18%;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: small;
    font-weight: bolder;
}

    
.box-shadow:hover {
    box-shadow: 27px 33px 104px 35px rgba(176,169,169,1);
-webkit-box-shadow: 27px 33px 104px 35px rgba(176,169,169,1);
-moz-box-shadow: 27px 33px 104px 35px rgba(176,169,169,1);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar{
    display: flex;
    list-style: none;
    position: relative;
}

.navbar li{
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: rgb(171, 171, 171);
}
.navbar a:hover{
    color: rgb(0, 204, 177);
}
.dropdown{
    position: absolute;
    list-style: none;
    background-color: white;
    left: 100px;
    padding: 30px;
    box-shadow: 27px 33px 104px 35px rgba(212,193,193,1);
    -webkit-box-shadow: 27px 33px 104px 35px rgba(212,193,193,1);
    -moz-box-shadow: 27px 33px 104px 35px rgba(212,193,193,1);
    
    display: none;

}

#department:hover .dropdown{
    display: block;
}

.dropdown li:hover{
    color: rgb(0, 204, 177);
    background-color: rgb(246, 248, 248);
}

.flex {
    display: flex;
    justify-content: space-around;
}


a{
    color: gray;
    text-align: end;
    text-decoration: none;
    padding-right: 50px;
    margin-bottom: 50px;
    font-size: small;
}


 .logo {
    
    margin-top: 100px;
  }

  .stats{
      display: flex;
  }
  .col1{
    margin-left: 100px;
      margin-top: 20px;
  }
  .row1{
      margin-top: 15px;
      margin-left:200px;
  }
  .row2{
      margin-top: 15px;
  }

 